In [129]:
import numpy as np
import pandas as pd

In [130]:
# df 읽기
df_age = pd.read_excel('/content/by_surgery.xlsx', sheet_name=None)

In [131]:
# 데이터 확인
len(df_age.keys())

34

In [132]:
df_age.keys()

dict_keys(['제1장 연령별 성별 수술현황', '2p', '4p', '6p', '8p', '10p', '12p', '14p', '16p', '18p', '20p', '22p', '24p', '26p', '28p', '30p', '32p', '34p', '36p', '38p', '40p', '42p', '44p', '46p', '48p', '50p', '52p', '54p', '56p', '58p', '60p', '62p', '64p', '66p'])

In [133]:
sheets = [
    i for i in df_age.keys()
][1:]

In [134]:
# 규모 파악
for i in sheets:
    print(df_age[i].shape)
    # df_age['2p'].shape

(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 26)
(68, 26)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 26)
(68, 26)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 20)
(68, 26)
(68, 26)

In [135]:
df_age_1 = df_age['2p']
df_age_1

,연령별 성별,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,수술 현황(계),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Operation by,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,age and gender (Total),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(단위 : 명, 건, 일, 천원)"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Unit : Persons, Cases, Day, 1,000Won"
2,구 분\nDivision,NaN,계 (Total),NaN,NaN,NaN,NaN,NaN,NaN,NaN,백내장 수술 (Cataract Surgery),NaN,NaN,NaN,편도절제술(아데노이드 적출술 유무에 상관없이)\n(Tonsillectomy wi...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,남자,M,21141,27178,187502,393990,148740656,128876243,6432,9157,10294,19210,11340198,9161784,4,4,30,55,19121,17196
64,여자,F,40754,50986,453623,938734,271542290,231112435,9002,13025,14875,26886,15880913,12906164,3,6,47,73,25665,20813
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"주) 1. 진료일기준(입원기준)이며, 의료급여 포함 \n 2. 합계에서는 중...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df_age_1 = df_age['2p'].iloc[2:,:]

In [137]:
df_age_1.iloc[:,[0,1,2,8,14]]

,연령별 성별,Unnamed: 1,Unnamed: 2,Unnamed: 8,Unnamed: 14
2,구 분\nDivision,NaN,계 (Total),NaN,편도절제술(아데노이드 적출술 유무에 상관없이)\n(Tonsillectomy wi...
3,NaN,NaN,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery
4,NaN,NaN,NaN,NaN,NaN
5,계,T,1672192,475440,17789
6,남자,M,703154,207315,8848
...,...,...,...,...,...
63,남자,M,21141,6432,4
64,여자,F,40754,9002,3
65,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN
67,"주) 1. 진료일기준(입원기준)이며, 의료급여 포함 \n 2. 합계에서는 중...",NaN,NaN,NaN,NaN

In [138]:
df_age_1 = df_age_1.drop((df_age_1[(df_age_1['연령별 성별'] == '남자') | (df_age_1['연령별 성별'] == '여자')]).index)

In [139]:
df_age_1.reset_index(drop=True, inplace=True)

In [140]:
df_age_1 = df_age_1.iloc[:23,:]

In [141]:
# df_age_1.iloc[:, [0,1,2,8,14,20]]

In [142]:
# 짤린 수술명 넣어주기
df_age_1.iloc[0,8] = df_age_1.iloc[0,10]

In [143]:
# 수술명 확인
df_age_1.iloc[0,8]

'백내장 수술 (Cataract Surgery)'

In [144]:
# 기본 함수화
def clean_data(x):
    # 필요없는 정보와 결측치 열 제거
    x = x.iloc[2:,:].copy()
    x = x.iloc[:-3,:].copy()
    # 남자 여자 필요없이 총합만 추출
    x.drop((x[(x['연령별 성별'] == '남자') | (x['연령별 성별'] == '여자')]).index, inplace=True)
    # 결측치 열 제거
    x.drop(4, inplace=True)
    #필요없는 열 제거
    x.drop(['Unnamed: 1'], axis=1, inplace=True)
    # 인덱스 리셋
    x.reset_index(drop=True, inplace=True)
    return x

In [145]:
# 수술인원수만 추출
df_age_1.iloc[:,[0,1,2,8,14]]

,연령별 성별,Unnamed: 1,Unnamed: 2,Unnamed: 8,Unnamed: 14
0,구 분\nDivision,NaN,계 (Total),백내장 수술 (Cataract Surgery),편도절제술(아데노이드 적출술 유무에 상관없이)\n(Tonsillectomy wi...
1,NaN,NaN,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery
2,NaN,NaN,NaN,NaN,NaN
3,계,T,1672192,475440,17789
4,0세,Age,2029,27,0
5,1 ~ 4세,S.T,3675,83,345
6,5 ~ 9세,S.T,5953,95,2154
7,10 ~ 14세,S.T,7344,73,1217
8,15 ~ 19세,S.T,11566,133,1211
9,20 ~ 24세,S.T,26173,257,2579
10,25 ~ 29세,S.T,56332,425,3024
11,30 ~ 34세,S.T,107254,640,2221
12,35 ~ 39세,S.T,96633,1240,1361
13,40 ~ 44세,S.T,84164,3415,1098
14,45 ~ 49세,S.T,89830,11284,754
15,50 ~ 54세,S.T,123256,32839,633
16,55 ~ 59세,S.T,137932,49592,472
17,60 ~ 64세,S.T,193868,78479,375
18,65 ~ 69세,S.T,204186,87985,208
19,70 ~ 74세,S.T,188582,83854,81
20,75 ~ 79세,S.T,154918,66594,32
21,80 ~ 84세,S.T,116602,42991,17
22,85세 이상,And over,61895,15434,7

In [146]:
df_age_3 = clean_data(df_age['66p'])

In [147]:
# shape (68,26)
df_age_3.iloc[:, [0,1,2,8,14,20]]

,연령별 성별,Unnamed: 2,Unnamed: 3,Unnamed: 9,Unnamed: 15,Unnamed: 21
0,구 분\nDivision,일반 척추수술 (General Spinal Surgery),NaN,NaN,NaN,NaN
1,NaN,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries
2,계,13003,14196,1023,88,115
3,0세,0,0,0,0,0
4,1 ~ 4세,0,0,0,0,1
5,5 ~ 9세,8,10,1,0,2
6,10 ~ 14세,15,17,6,1,2
7,15 ~ 19세,22,22,28,3,2
8,20 ~ 24세,38,38,30,4,2
9,25 ~ 29세,23,24,16,3,6
10,30 ~ 34세,28,30,14,0,1
11,35 ~ 39세,70,75,28,3,6
12,40 ~ 44세,189,198,26,2,3
13,45 ~ 49세,287,306,56,6,9
14,50 ~ 54세,573,611,99,4,17
15,55 ~ 59세,929,1002,123,9,17
16,60 ~ 64세,1607,1742,176,12,29
17,65 ~ 69세,1817,1956,146,19,14
18,70 ~ 74세,1861,2025,113,6,4
19,75 ~ 79세,1842,2045,72,4,0
20,80 ~ 84세,2024,2251,64,6,0
21,85세 이상,1670,1844,25,6,0

In [148]:
df_age_4 = clean_data(df_age['64p'])

In [149]:
df_age_4.iloc[:, [0,1,2,8,14,20]]

,연령별 성별,Unnamed: 2,Unnamed: 3,Unnamed: 9,Unnamed: 15,Unnamed: 21
0,구 분\nDivision,심장 수술(관상동맥우회수술 제외)\n(Cardiac Surgery (Excludin...,NaN,NaN,NaN,NaN
1,NaN,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries,수술건수\nNumber of surgeries
2,계,646,717,27,3539,431
3,0세,6,6,0,0,0
4,1 ~ 4세,18,19,12,1,0
5,5 ~ 9세,4,4,6,0,0
6,10 ~ 14세,5,6,5,3,1
7,15 ~ 19세,7,9,2,65,8
8,20 ~ 24세,8,8,1,128,7
9,25 ~ 29세,2,2,0,105,4
10,30 ~ 34세,3,3,0,78,1
11,35 ~ 39세,8,8,0,107,5
12,40 ~ 44세,17,17,0,218,15
13,45 ~ 49세,31,31,0,283,17
14,50 ~ 54세,44,47,1,437,47
15,55 ~ 59세,56,58,0,441,52
16,60 ~ 64세,72,92,0,518,58
17,65 ~ 69세,101,107,0,442,60
18,70 ~ 74세,94,102,0,303,47
19,75 ~ 79세,87,110,0,230,55
20,80 ~ 84세,58,60,0,117,38
21,85세 이상,25,28,0,63,16

In [150]:
len(sheets)

33

In [151]:
# 2차 정제 함수
def df_clean(x):
    # 데이터의 크기에 따라
    if x.shape == (68, 20):
        # 1차 정제후
        x = clean_data(x)
        # 필요한 정보를 넣어주고
        x.iloc[0,7] = x.iloc[0,9]
        # 필요한 정보만 추출
        x = x.iloc[:,[0,1,7,13]].copy()
        return x
    else:
        # 이하 동문
        x = clean_data(x)
        x = x.iloc[:, [0,1,7,13,19]].copy()
        return x

In [152]:
# 출력확인
clean_data(df_age['66p'])

,연령별 성별,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,구 분\nDivision,일반 척추수술 (General Spinal Surgery),NaN,NaN,NaN,NaN,NaN,내시경하 부비동 수술\n(Endoscopic Paranasal Surgery ),NaN,NaN,...,NaN,NaN,NaN,NaN,줄기세포이식술(Stem cell transpantation),NaN,NaN,NaN,NaN,NaN
1,NaN,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,...,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount,수술인원수\nPatients who received surgery,수술건수\nNumber of surgeries,입원일수\nDays of hospitalization,요양급여일수\nDays of\nbenefit,진료비\nTreatment expenses,급여비\nBenefit\nAmount
2,계,13003,14196,210012,412543,81336872,79780988,998,1023,4518,...,655,1267,430704,420780,113,115,3619,4405,4108579,4095022
3,0세,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1 ~ 4세,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,38,42,32778,32718
5,5 ~ 9세,8,10,125,521,107196,106233,1,1,8,...,0,0,0,0,2,2,53,63,52312,51732
6,10 ~ 14세,15,17,233,786,246595,243424,6,6,23,...,3,9,1998,1806,1,2,51,81,94287,94216
7,15 ~ 19세,22,22,352,761,256064,248481,28,28,120,...,13,39,6111,5090,2,2,47,51,31934,31728
8,20 ~ 24세,38,38,517,1040,310010,293769,30,30,110,...,23,39,11000,9639,2,2,55,55,74251,74161
9,25 ~ 29세,23,24,266,638,168721,159268,16,16,38,...,10,28,5650,5106,6,6,228,282,257167,254104
10,30 ~ 34세,28,30,462,849,197402,189453,14,14,96,...,0,0,0,0,1,1,27,32,40956,40726
11,35 ~ 39세,70,75,1129,2268,516985,504035,28,28,92,...,13,30,7018,6819,6,6,213,237,236074,235280
12,40 ~ 44세,189,198,2892,5573,1261632,1217655,25,26,96,...,14,18,5843,5095,3,3,102,118,101417,101314
13,45 ~ 49세,287,306,4633,9036,1989911,1912748,53,56,189,...,30,77,13860,13263,9,9,311,360,303540,302966
14,50 ~ 54세,573,611,8775,17421,3932064,3798242,97,99,452,...,30,45,18402,18372,16,17,650,780,877965,875813
15,55 ~ 59세,929,1002,15454,29979,6761399,6582048,118,123,649,...,100,147,72611,70153,17,17,542,655,618208,614516
16,60 ~ 64세,1607,1742,27826,52512,11158274,10893947,171,176,819,...,43,153,26039,25203,29,29,777,999,867592,866667
17,65 ~ 69세,1817,1956,30946,59709,12213336,12038898,143,146,605,...,92,218,45670,44799,14,14,415,517,398045,397235
18,70 ~ 74세,1861,2025,31835,61527,12590828,12409465,109,113,483,...,131,154,121593,121317,4,4,110,133,122046,121839
19,75 ~ 79세,1842,2045,31953,62300,12195339,12029373,71,72,261,...,49,87,36306,35935,0,0,0,0,0,0
20,80 ~ 84세,2024,2251,30503,61760,10493337,10321858,63,64,323,...,49,100,33148,32804,0,0,0,0,0,0
21,85세 이상,1670,1844,22111,45863,6937771,6832083,25,25,154,...,55,123,25449,25373,0,0,0,0,0,0

In [153]:
# 출력확인2
df_clean(df_age['66p'])

,연령별 성별,Unnamed: 2,Unnamed: 8,Unnamed: 14,Unnamed: 20
0,구 분\nDivision,일반 척추수술 (General Spinal Surgery),내시경하 부비동 수술\n(Endoscopic Paranasal Surgery ),일반 부비동 수술 (General Paranasal Surgery),줄기세포이식술(Stem cell transpantation)
1,NaN,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery
2,계,13003,998,85,113
3,0세,0,0,0,0
4,1 ~ 4세,0,0,0,1
5,5 ~ 9세,8,1,0,2
6,10 ~ 14세,15,6,1,1
7,15 ~ 19세,22,28,3,2
8,20 ~ 24세,38,30,4,2
9,25 ~ 29세,23,16,3,6
10,30 ~ 34세,28,14,0,1
11,35 ~ 39세,70,28,3,6
12,40 ~ 44세,189,25,2,3
13,45 ~ 49세,287,53,6,9
14,50 ~ 54세,573,97,4,16
15,55 ~ 59세,929,118,7,17
16,60 ~ 64세,1607,171,12,29
17,65 ~ 69세,1817,143,18,14
18,70 ~ 74세,1861,109,6,4
19,75 ~ 79세,1842,71,4,0
20,80 ~ 84세,2024,63,6,0
21,85세 이상,1670,25,6,0

In [154]:
# 아래하고 위를 한번에 할 수 있을듯?
df_1 = df_clean(df_age['2p'])
df_2 = df_clean(df_age['4p'])
df_3 = df_clean(df_age['6p'])
df_4 = df_clean(df_age['8p'])
df_5 = df_clean(df_age['10p'])
df_6 = df_clean(df_age['12p'])
df_7 = df_clean(df_age['14p'])
df_8 = df_clean(df_age['16p'])
df_9 = df_clean(df_age['18p'])
df_10 = df_clean(df_age['20p'])
df_11 = df_clean(df_age['22p'])

In [155]:
# 노가다 머지 -> 좀더 쉽게 하는 방법은 없을까?
df_totals_1 = pd.merge(df_1,df_2, on='연령별 성별')
df_totals_2 = pd.merge(df_3,df_4, on='연령별 성별')
df_totals_3 = pd.merge(df_totals_1,df_totals_2, on='연령별 성별')

df_totals_4 = pd.merge(df_5,df_6, on='연령별 성별')
df_totals_5 = pd.merge(df_7,df_8, on='연령별 성별')
df_totals_6 = pd.merge(df_totals_4,df_totals_5, on='연령별 성별')

df_totals_7 = pd.merge(df_9,df_10, on='연령별 성별')
df_totals_8 = pd.merge(df_11,df_totals_7, on='연령별 성별')

df_totals_9 = pd.merge(df_totals_3,df_totals_6, on='연령별 성별')
df_totals_10 = pd.merge(df_totals_9,df_totals_8, on='연령별 성별')

In [156]:
df_totals_10

,연령별 성별,Unnamed: 2_x_x_x,Unnamed: 8_x_x_x,Unnamed: 14_x_x_x,Unnamed: 2_y_x_x,Unnamed: 8_y_x_x,Unnamed: 14_y_x_x,Unnamed: 2_x_y_x,Unnamed: 8_x_y_x,Unnamed: 14_x_y_x,...,Unnamed: 8,Unnamed: 14,Unnamed: 20_x,Unnamed: 2_x,Unnamed: 8_x,Unnamed: 14_x,Unnamed: 2_y,Unnamed: 8_y,Unnamed: 14_y,Unnamed: 20_y
0,구 분\nDivision,계 (Total),백내장 수술 (Cataract Surgery),편도절제술(아데노이드 적출술 유무에 상관없이)\n(Tonsillectomy wi...,경피적 관상동맥확장술 및 절제술\n(Percutaneous Transluminal ...,스텐트삽입술 (Coronary Stenting),관상동맥 우회수술 (Coronary Bypass),심장 카테터 삽입술 (Cardiac Catheterisation),(Ligation/Stripping of Varicose Veins),충수절제술(Appendectomy),...,내시경하 부비동 수술\n(Endoscopic Paranasal Surgery ),일반 부비동 수술 (General Paranasal Surgery),줄기세포이식술(Stem cell transpantation),간 부분 절제술(기타 질환에 의한 수술 포함)\n(Partial Hepatectom...,간색전술 (Hepatic Embolization),갑상선 수술(기타 질환에 의한 수술포함)\n(Thyroid Surgery (Incl...,심장 수술(관상동맥우회수술 제외)\n(Cardiac Surgery (Excludin...,순열 및 구개열 수술\n (Correction of Cleft Palate a...,치핵 수술 (Hemorrhoid Surgery),내시경하 척추수술 (Endoscopic Spinal Surgery)
1,NaN,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,...,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery,수술인원수\nPatients who received surgery
2,계,1672192,475440,17789,9941,67751,4894,3524,18620,72325,...,33812,2206,2614,7879,28471,35027,9538,912,154304,14296
3,0세,2029,27,0,0,0,1,94,0,16,...,0,0,1,4,3,1,720,141,11,0
4,1 ~ 4세,3675,83,345,0,0,2,237,0,60,...,3,0,51,16,62,24,530,314,15,0
5,5 ~ 9세,5953,95,2154,0,0,3,137,0,1651,...,43,2,61,3,27,36,121,272,16,0
6,10 ~ 14세,7344,73,1217,2,0,6,112,2,4321,...,309,26,64,6,51,47,88,113,155,8
7,15 ~ 19세,11566,133,1211,1,3,17,110,41,4600,...,848,72,70,15,110,145,82,12,1821,132
8,20 ~ 24세,26173,257,2579,4,9,13,117,149,4721,...,1278,109,83,9,224,545,106,10,6719,360
9,25 ~ 29세,56332,425,3024,13,34,24,141,385,5704,...,1802,135,91,40,289,1536,117,8,13183,518
10,30 ~ 34세,107254,640,2221,35,143,26,119,542,5605,...,2079,148,80,73,634,2669,137,7,14596,633
11,35 ~ 39세,96633,1240,1361,92,481,43,118,785,5592,...,2236,120,108,116,789,3281,179,7,14311,902
12,40 ~ 44세,84164,3415,1098,158,1348,91,126,1242,5938,...,2665,157,147,259,988,4851,262,1,16943,1307
13,45 ~ 49세,89830,11284,754,351,2567,176,167,1608,5456,...,2910,151,193,407,1262,4311,366,4,16367,1417
14,50 ~ 54세,123256,32839,633,616,5202,320,217,2321,6110,...,3802,236,286,715,1936,4656,579,8,18459,1621
15,55 ~ 59세,137932,49592,472,948,7096,510,265,2729,5482,...,3906,233,354,984,2692,4008,741,3,14970,1583
16,60 ~ 64세,193868,78479,375,1462,10672,783,329,3189,5741,...,4424,271,510,1374,4088,3921,1087,8,14401,1819
17,65 ~ 69세,204186,87985,208,1673,11000,986,361,2591,4189,...,3282,222,429,1420,4286,2521,1289,1,10185,1509
18,70 ~ 74세,188582,83854,81,1490,10143,813,294,1705,2740,...,2120,157,83,1179,3856,1401,1304,1,6186,1029
19,75 ~ 79세,154918,66594,32,1326,8288,614,266,910,1939,...,1220,90,3,760,3345,721,992,2,3533,788
20,80 ~ 84세,116602,42991,17,1127,6900,391,216,360,1522,...,651,50,0,400,2541,284,595,0,1879,500
21,85세 이상,61895,15434,7,643,3865,75,98,61,938,...,234,27,0,99,1288,69,243,0,554,170

In [157]:
# 기본 인덱스 날리고 연령별로 설정
df_final = df_totals_10.set_index("연령별 성별")

In [158]:
df_final.iloc[0,:]

Unnamed: 2_x_x_x                                             계 (Total)
Unnamed: 8_x_x_x                             백내장 수술 (Cataract Surgery)
Unnamed: 14_x_x_x      편도절제술(아데노이드 적출술 유무에 상관없이)\n(Tonsillectomy wi...
Unnamed: 2_y_x_x     경피적 관상동맥확장술 및 절제술\n(Percutaneous Transluminal ...
Unnamed: 8_y_x_x                            스텐트삽입술 (Coronary Stenting)
Unnamed: 14_y_x_x                          관상동맥 우회수술 (Coronary Bypass)
Unnamed: 2_x_y_x                  심장 카테터 삽입술 (Cardiac Catheterisation)
Unnamed: 8_x_y_x                (Ligation/Stripping of Varicose Veins)
Unnamed: 14_x_y_x                                  충수절제술(Appendectomy)
Unnamed: 2_y_y_x                    심박조율장치의 삽입,교체,제거 및 교정 (Pacemakers)
Unnamed: 8_y_y_x     (복강경적 담낭절제술 포함)                               ...
Unnamed: 14_y_y_x    내시경 및 경피적 담도수술\n(Endoscopic and Percutaneous P...
Unnamed: 2_x_x_y          서혜 및 대퇴 허니아 수술 (Inguinal and Femoral Hernia)
Unnamed: 8_x_x_y                       (Prostatectomy (transurethral))
Unnamed: 14_x_x_y     전립선 절제술(Prostatectomy (excluding transurethral))
Unnamed: 2_y_x_y                                  자궁절제술 (Hysterectomy)
Unnamed: 8_y_x_y                            제왕절개수술 (Caesarean Section)
Unnamed: 14_y_x_y                            고관절 치환술 (Hip Replacement)
Unnamed: 2_x_y_y                            슬관절 치환술 (Knee Replacement)
Unnamed: 8_x_y_y                                  (Partial Mastectomy)
Unnamed: 14_x_y_y                          유방 전 절제술 (Total Mastectomy)
Unnamed: 2_y_y_y                          뇌기저부 수술 (Skull Base Surgery)
Unnamed: 8_y_y_y                                 (Brain Tumor Surgery)
Unnamed: 14_y_y_y    위 절제술(기타 질환에 의한 수술 포함)\n(Gastrectomy (Includin...
Unnamed: 2                            일반 척추수술 (General Spinal Surgery)
Unnamed: 8                내시경하 부비동 수술\n(Endoscopic Paranasal Surgery )
Unnamed: 14                      일반 부비동 수술 (General Paranasal Surgery)
Unnamed: 20_x                        줄기세포이식술(Stem cell transpantation)
Unnamed: 2_x         간 부분 절제술(기타 질환에 의한 수술 포함)\n(Partial Hepatectom...
Unnamed: 8_x                               간색전술 (Hepatic Embolization)
Unnamed: 14_x        갑상선 수술(기타 질환에 의한 수술포함)\n(Thyroid Surgery (Incl...
Unnamed: 2_y         심장 수술(관상동맥우회수술 제외)\n(Cardiac Surgery (Excludin...
Unnamed: 8_y            순열 및 구개열 수술\n (Correction of Cleft Palate a...
Unnamed: 14_y                               치핵 수술 (Hemorrhoid Surgery)
Unnamed: 20_y                    내시경하 척추수술 (Endoscopic Spinal Surgery)
Name: 구     분\nDivision, dtype: object

In [159]:
# 맨 처음 행 날리고
df_final_1 = df_final[1:]

In [198]:
# 새로운 컬럼 설정해주고
# 이 부분도 원 데이터에서 결측치 제거하고 있는 값만 추출해서 한번에 뽑을 수 있었을듯
header = ['계(Total)','백내장 수술','편도절제술(아데노이드 적출술 유무에 상관없이)','경피적 관상동맥확장술 및 절제술',
          '스텐트삽입술','관상동맥 우회수술','심장 카테터 삽입술','정맥류 결찰 및 제거수술','충수절제술','심박조율장치의 삽입,교체,제거 및 교정',
          '담낭절제술','내시경 및 경피적 담도수술','서혜 및 대퇴 허니아 수술','경요도 전립선 절제술','전립선 절제술','자궁절제술','제왕절개수술',
          '고관절 치환술','슬관절 치환술','유방 부분 절제술','유방 전 절제술','뇌기저부 수술','뇌종양 수술','위 절제술(기타 질환에 의한 수술 포함)'
          ,'일반 척추수술','내시경하 부비동 수술','일반 부비동 수술','줄기세포이식술','간 부분 절제술(기타 질환에 의한 수술 포함)','간색전술',
          '갑상선 수술(기타 질환에 의한 수술포함)','심장 수술(관상동맥우회수술 제외)','순열 및 구개열 수술','치핵 수술','내시경하 척추수술']

In [161]:
# 위 길이 확인하고
len(header)

35

In [199]:
# 컬럼 변경해주기
df_final_1.columns = header

In [163]:
# 또 첫행 어차피 메타정보라서 날려주기
df_final_2 = df_final_1[1:]

In [164]:
df_final_2.shape

(20, 35)

In [165]:
df_final_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 계 to 85세 이상
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   계(Total)                   20 non-null     object
 1   백내장 수술                     20 non-null     object
 2   편도절제술(아데노이드 적출술 유무에 상관없이)  20 non-null     object
 3   경피적 관상동맥확장술 및 절제술          20 non-null     object
 4   스텐트삽입술                     20 non-null     object
 5   관상동맥 우회수술                  20 non-null     object
 6   심장 카테터 삽입술                 20 non-null     object
 7   정맥류 결찰 및 제거수술              20 non-null     object
 8   충수절제술                      20 non-null     object
 9   심박조율장치의 삽입,교체,제거 및 교정      20 non-null     object
 10  담낭절제술                      20 non-null     object
 11  내시경 및 경피적 담도수술             20 non-null     object
 12  서혜 및 대퇴 허니아 수술             20 non-null     object
 13  경요도 전립선 절제술                20 non-null     object
 14  전립선 절제술                    20 non-null     object
 15  자궁절제술                      20 non-null     object
 16  제왕절개수술                     20 non-null     object
 17  고관절 치환술                    20 non-null     object
 18  슬관절 치환술                    20 non-null     object
 19  유방 부분 절제술                  20 non-null     object
 20  유방 전 절제술                   20 non-null     object
 21  뇌기저부 수술                    20 non-null     object
 22  뇌종양 수술                     20 non-null     object
 23  위 절제술(기타 질환에 의한 수술 포함)     20 non-null     object
 24  일반 척추수술                    20 non-null     object
 25  내시경하 부비동 수술                20 non-null     object
 26  일반 부비동 수술                  20 non-null     object
 27  줄기세포이식술                    20 non-null     object
 28  간 부분 절제술(기타 질환에 의한 수술 포함)  20 non-null     object
 29  간색전술                       20 non-null     object
 30  갑상선 수술(기타 질환에 의한 수술포함)     20 non-null     object
 31  심장 수술(관상동맥우회수술 제외)         20 non-null     object
 32  순열 및 구개열 수술                20 non-null     object
 33  치핵 수술                      20 non-null     object
 34  내시경하 척추수술                  20 non-null     object
dtypes: object(35)
memory usage: 5.6+ KB

In [166]:
df_final_2.columns

Index(['계(Total)', '백내장 수술', '편도절제술(아데노이드 적출술 유무에 상관없이)', '경피적 관상동맥확장술 및 절제술',
       '스텐트삽입술', '관상동맥 우회수술', '심장 카테터 삽입술', '정맥류 결찰 및 제거수술', '충수절제술',
       '심박조율장치의 삽입,교체,제거 및 교정', '담낭절제술', '내시경 및 경피적 담도수술', '서혜 및 대퇴 허니아 수술',
       '경요도 전립선 절제술', '전립선 절제술', '자궁절제술', '제왕절개수술', '고관절 치환술', '슬관절 치환술',
       '유방 부분 절제술', '유방 전 절제술', '뇌기저부 수술', '뇌종양 수술', '위 절제술(기타 질환에 의한 수술 포함)',
       '일반 척추수술', '내시경하 부비동 수술', '일반 부비동 수술', '줄기세포이식술',
       '간 부분 절제술(기타 질환에 의한 수술 포함)', '간색전술', '갑상선 수술(기타 질환에 의한 수술포함)',
       '심장 수술(관상동맥우회수술 제외)', '순열 및 구개열 수술', '치핵 수술', '내시경하 척추수술'],
      dtype='object')

In [167]:
# 숫자 int형 변환 for문
sheest_sur = df_final_2.columns
for i in sheest_sur:
    df_final_2[i] = df_final_2[i].astype(int)

<ipython-input-167-3febd71b6469>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_2[i] = df_final_2[i].astype(int)

In [168]:
# 잘 변환됐나 확인
df_final_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 계 to 85세 이상
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   계(Total)                   20 non-null     int64
 1   백내장 수술                     20 non-null     int64
 2   편도절제술(아데노이드 적출술 유무에 상관없이)  20 non-null     int64
 3   경피적 관상동맥확장술 및 절제술          20 non-null     int64
 4   스텐트삽입술                     20 non-null     int64
 5   관상동맥 우회수술                  20 non-null     int64
 6   심장 카테터 삽입술                 20 non-null     int64
 7   정맥류 결찰 및 제거수술              20 non-null     int64
 8   충수절제술                      20 non-null     int64
 9   심박조율장치의 삽입,교체,제거 및 교정      20 non-null     int64
 10  담낭절제술                      20 non-null     int64
 11  내시경 및 경피적 담도수술             20 non-null     int64
 12  서혜 및 대퇴 허니아 수술             20 non-null     int64
 13  경요도 전립선 절제술                20 non-null     int64
 14  전립선 절제술                    20 non-null     int64
 15  자궁절제술                      20 non-null     int64
 16  제왕절개수술                     20 non-null     int64
 17  고관절 치환술                    20 non-null     int64
 18  슬관절 치환술                    20 non-null     int64
 19  유방 부분 절제술                  20 non-null     int64
 20  유방 전 절제술                   20 non-null     int64
 21  뇌기저부 수술                    20 non-null     int64
 22  뇌종양 수술                     20 non-null     int64
 23  위 절제술(기타 질환에 의한 수술 포함)     20 non-null     int64
 24  일반 척추수술                    20 non-null     int64
 25  내시경하 부비동 수술                20 non-null     int64
 26  일반 부비동 수술                  20 non-null     int64
 27  줄기세포이식술                    20 non-null     int64
 28  간 부분 절제술(기타 질환에 의한 수술 포함)  20 non-null     int64
 29  간색전술                       20 non-null     int64
 30  갑상선 수술(기타 질환에 의한 수술포함)     20 non-null     int64
 31  심장 수술(관상동맥우회수술 제외)         20 non-null     int64
 32  순열 및 구개열 수술                20 non-null     int64
 33  치핵 수술                      20 non-null     int64
 34  내시경하 척추수술                  20 non-null     int64
dtypes: int64(35)
memory usage: 5.6+ KB

In [169]:
df_final_2.index[19]

'85세 이상'

In [170]:
index_1 = ['계','10세 이하', '10대','20대','30대','40대','50대','60대','70대','80세 이상']
columns_1 = header

In [206]:
# 행 통합 작업
# 위의 인덱스의 인덱싱을 통해 더하기 -> 차후 더 편하게 할 수 있을거 같다 조건식에 넣어서
df_final_3 = pd.DataFrame( [], index_1, columns_1)
df_final_3.loc['계'] = df_final_2.loc[df_final_2.index[0]]
df_final_3.loc['10세 이하'] = df_final_2.loc[df_final_2.index[1]] + df_final_2.loc[df_final_2.index[2]] + df_final_2.loc[df_final_2.index[3]]
df_final_3.loc['10대'] = df_final_2.loc[df_final_2.index[4]] + df_final_2.loc[df_final_2.index[5]]
df_final_3.loc['20대'] = df_final_2.loc[df_final_2.index[6]] + df_final_2.loc[df_final_2.index[7]]
df_final_3.loc['30대'] = df_final_2.loc[df_final_2.index[8]] + df_final_2.loc[df_final_2.index[9]]
df_final_3.loc['40대'] = df_final_2.loc[df_final_2.index[10]] + df_final_2.loc[df_final_2.index[11]]
df_final_3.loc['50대'] = df_final_2.loc[df_final_2.index[12]] + df_final_2.loc[df_final_2.index[13]]
df_final_3.loc['60대'] = df_final_2.loc[df_final_2.index[14]] + df_final_2.loc[df_final_2.index[15]]
df_final_3.loc['70대'] = df_final_2.loc[df_final_2.index[16]] + df_final_2.loc[df_final_2.index[17]]
df_final_3.loc['80세 이상'] = df_final_2.loc[df_final_2.index[18]] + df_final_2.loc[df_final_2.index[19]]

In [207]:
df_final_3.index

Index(['계', '10세 이하', '10대', '20대', '30대', '40대', '50대', '60대', '70대',
       '80세 이상'],
      dtype='object')

In [208]:
df_final_3

,계(Total),백내장 수술,편도절제술(아데노이드 적출술 유무에 상관없이),경피적 관상동맥확장술 및 절제술,스텐트삽입술,관상동맥 우회수술,심장 카테터 삽입술,정맥류 결찰 및 제거수술,충수절제술,"심박조율장치의 삽입,교체,제거 및 교정",...,내시경하 부비동 수술,일반 부비동 수술,줄기세포이식술,간 부분 절제술(기타 질환에 의한 수술 포함),간색전술,갑상선 수술(기타 질환에 의한 수술포함),심장 수술(관상동맥우회수술 제외),순열 및 구개열 수술,치핵 수술,내시경하 척추수술
계,1672192,475440,17789,9941,67751,4894,3524,18620,72325,18773,...,33812,2206,2614,7879,28471,35027,9538,912,154304,14296
10세 이하,11657,205,2499,0,0,6,468,0,1727,127,...,46,2,113,23,92,61,1371,727,42,0
10대,18910,206,2428,3,3,23,222,43,8921,58,...,1157,98,134,21,161,192,170,125,1976,140
20대,82505,682,5603,17,43,37,258,534,10425,161,...,3080,244,174,49,513,2081,223,18,19902,878
30대,203887,1880,3582,127,624,69,237,1327,11197,290,...,4315,268,188,189,1423,5950,316,14,28907,1535
40대,173994,14699,1852,509,3915,267,293,2850,11394,644,...,5575,308,340,666,2250,9162,628,5,33310,2724
50대,261188,82431,1105,1564,12298,830,482,5050,11592,1746,...,7708,469,640,1699,4628,8664,1320,11,33429,3204
60대,398054,166464,583,3135,21672,1769,690,5780,9930,4033,...,7706,493,939,2794,8374,6442,2376,9,24586,3328
70대,343500,150448,113,2816,18431,1427,560,2615,4679,5600,...,3340,247,86,1939,7201,2122,2296,3,9719,1817
80세 이상,178497,58425,24,1770,10765,466,314,421,2460,6114,...,885,77,0,499,3829,353,838,0,2433,670

In [216]:
df_final_4 = df_final_3.iloc[1:,1:]

In [217]:
df_final_4

,백내장 수술,편도절제술(아데노이드 적출술 유무에 상관없이),경피적 관상동맥확장술 및 절제술,스텐트삽입술,관상동맥 우회수술,심장 카테터 삽입술,정맥류 결찰 및 제거수술,충수절제술,"심박조율장치의 삽입,교체,제거 및 교정",담낭절제술,...,내시경하 부비동 수술,일반 부비동 수술,줄기세포이식술,간 부분 절제술(기타 질환에 의한 수술 포함),간색전술,갑상선 수술(기타 질환에 의한 수술포함),심장 수술(관상동맥우회수술 제외),순열 및 구개열 수술,치핵 수술,내시경하 척추수술
10세 이하,205,2499,0,0,6,468,0,1727,127,12,...,46,2,113,23,92,61,1371,727,42,0
10대,206,2428,3,3,23,222,43,8921,58,234,...,1157,98,134,21,161,192,170,125,1976,140
20대,682,5603,17,43,37,258,534,10425,161,3662,...,3080,244,174,49,513,2081,223,18,19902,878
30대,1880,3582,127,624,69,237,1327,11197,290,10674,...,4315,268,188,189,1423,5950,316,14,28907,1535
40대,14699,1852,509,3915,267,293,2850,11394,644,16481,...,5575,308,340,666,2250,9162,628,5,33310,2724
50대,82431,1105,1564,12298,830,482,5050,11592,1746,18588,...,7708,469,640,1699,4628,8664,1320,11,33429,3204
60대,166464,583,3135,21672,1769,690,5780,9930,4033,19311,...,7706,493,939,2794,8374,6442,2376,9,24586,3328
70대,150448,113,2816,18431,1427,560,2615,4679,5600,13355,...,3340,247,86,1939,7201,2122,2296,3,9719,1817
80세 이상,58425,24,1770,10765,466,314,421,2460,6114,7876,...,885,77,0,499,3829,353,838,0,2433,670

In [218]:
# 마지막으로 데이터 csv화
df_final_3.to_csv('surgery_by_age.csv')
df_final_4.to_csv('surgery_by_age_without_total.csv')

In [175]:
df_sido_popul = pd.read_csv('/content/popul_by_sido.csv', encoding='cp949')

In [176]:
df_sido_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 70 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             18 non-null     object
 1   2023년_계_총인구수     18 non-null     object
 2   2023년_계_연령구간인구수  18 non-null     object
 3   2023년_계_0~4세     18 non-null     object
 4   2023년_계_5~9세     18 non-null     object
 5   2023년_계_10~14세   18 non-null     object
 6   2023년_계_15~19세   18 non-null     object
 7   2023년_계_20~24세   18 non-null     object
 8   2023년_계_25~29세   18 non-null     object
 9   2023년_계_30~34세   18 non-null     object
 10  2023년_계_35~39세   18 non-null     object
 11  2023년_계_40~44세   18 non-null     object
 12  2023년_계_45~49세   18 non-null     object
 13  2023년_계_50~54세   18 non-null     object
 14  2023년_계_55~59세   18 non-null     object
 15  2023년_계_60~64세   18 non-null     object
 16  2023년_계_65~69세   18 non-null     object
 17  2023년_계_70~74세   18 non-null     object
 18  2023년_계_75~79세   18 non-null     object
 19  2023년_계_80~84세   18 non-null     object
 20  2023년_계_85~89세   18 non-null     object
 21  2023년_계_90~94세   18 non-null     object
 22  2023년_계_95~99세   18 non-null     object
 23  2023년_계_100세 이상  18 non-null     object
 24  2023년_남_총인구수     18 non-null     object
 25  2023년_남_연령구간인구수  18 non-null     object
 26  2023년_남_0~4세     18 non-null     object
 27  2023년_남_5~9세     18 non-null     object
 28  2023년_남_10~14세   18 non-null     object
 29  2023년_남_15~19세   18 non-null     object
 30  2023년_남_20~24세   18 non-null     object
 31  2023년_남_25~29세   18 non-null     object
 32  2023년_남_30~34세   18 non-null     object
 33  2023년_남_35~39세   18 non-null     object
 34  2023년_남_40~44세   18 non-null     object
 35  2023년_남_45~49세   18 non-null     object
 36  2023년_남_50~54세   18 non-null     object
 37  2023년_남_55~59세   18 non-null     object
 38  2023년_남_60~64세   18 non-null     object
 39  2023년_남_65~69세   18 non-null     object
 40  2023년_남_70~74세   18 non-null     object
 41  2023년_남_75~79세   18 non-null     object
 42  2023년_남_80~84세   18 non-null     object
 43  2023년_남_85~89세   18 non-null     object
 44  2023년_남_90~94세   18 non-null     object
 45  2023년_남_95~99세   18 non-null     object
 46  2023년_남_100세 이상  18 non-null     object
 47  2023년_여_총인구수     18 non-null     object
 48  2023년_여_연령구간인구수  18 non-null     object
 49  2023년_여_0~4세     18 non-null     object
 50  2023년_여_5~9세     18 non-null     object
 51  2023년_여_10~14세   18 non-null     object
 52  2023년_여_15~19세   18 non-null     object
 53  2023년_여_20~24세   18 non-null     object
 54  2023년_여_25~29세   18 non-null     object
 55  2023년_여_30~34세   18 non-null     object
 56  2023년_여_35~39세   18 non-null     object
 57  2023년_여_40~44세   18 non-null     object
 58  2023년_여_45~49세   18 non-null     object
 59  2023년_여_50~54세   18 non-null     object
 60  2023년_여_55~59세   18 non-null     object
 61  2023년_여_60~64세   18 non-null     object
 62  2023년_여_65~69세   18 non-null     object
 63  2023년_여_70~74세   18 non-null     object
 64  2023년_여_75~79세   18 non-null     object
 65  2023년_여_80~84세   18 non-null     object
 66  2023년_여_85~89세   18 non-null     object
 67  2023년_여_90~94세   18 non-null     object
 68  2023년_여_95~99세   18 non-null     object
 69  2023년_여_100세 이상  18 non-null     object
dtypes: object(70)
memory usage: 10.0+ KB

In [177]:
# 행정구역 단어 정리
df_sido_popul['행정구역'] = df_sido_popul['행정구역'].str.split(' ').str[0]
df_sido_popul

,행정구역,2023년_계_총인구수,2023년_계_연령구간인구수,2023년_계_0~4세,2023년_계_5~9세,2023년_계_10~14세,2023년_계_15~19세,2023년_계_20~24세,2023년_계_25~29세,2023년_계_30~34세,...,2023년_여_55~59세,2023년_여_60~64세,2023년_여_65~69세,2023년_여_70~74세,2023년_여_75~79세,2023년_여_80~84세,2023년_여_85~89세,2023년_여_90~94세,2023년_여_95~99세,2023년_여_100세 이상
0,전국,"51,325,329","51,325,329","1,334,588","1,998,304","2,330,969","2,320,491","2,794,440","3,403,046","3,399,252",...,"2,086,166","2,123,908","1,750,973","1,203,628","943,845","812,217","484,582","187,363","43,722","7,114"
1,서울특별시,"9,386,034","9,386,034","213,014","300,548","355,014","378,197","555,058","800,753","777,975",...,"358,866","368,208","324,875","225,940","178,454","131,782","70,408","26,570","6,717","1,129"
2,부산광역시,"3,293,362","3,293,362","75,360","119,043","133,929","129,410","173,103","204,484","203,253",...,"137,901","155,961","140,500","101,659","74,492","58,188","30,306","10,724","2,664",370
3,대구광역시,"2,374,960","2,374,960","57,587","92,816","106,303","107,818","133,913","148,557","146,165",...,"105,568","106,203","84,680","63,253","46,090","39,746","22,068","7,916","1,619",233
4,인천광역시,"2,997,410","2,997,410","82,753","119,576","137,503","134,576","160,257","203,846","215,195",...,"127,406","126,290","97,037","59,491","46,498","37,594","22,679","9,348","2,337",391
5,광주광역시,"1,419,237","1,419,237","38,916","60,863","73,025","74,500","90,809","100,096","89,946",...,"57,581","54,356","42,033","30,692","24,524","19,290","10,876","4,294",958,190
6,대전광역시,"1,442,216","1,442,216","39,731","56,996","67,343","70,493","91,081","108,147","99,622",...,"57,691","57,560","46,600","30,503","22,960","19,125","11,316","4,345","1,023",179
7,울산광역시,"1,103,661","1,103,661","30,143","48,943","56,172","53,290","55,113","67,409","69,325",...,"50,602","47,558","36,348","22,507","14,545","11,503","6,408","2,416",581,70
8,세종특별자치시,"386,525","386,525","17,223","26,318","27,898","22,838","17,657","20,153","27,376",...,"11,176","10,414","8,286","5,122","3,563","3,136","2,126",969,223,38
9,경기도,"13,630,821","13,630,821","402,048","587,502","669,391","651,240","755,027","927,111","959,377",...,"547,642","518,125","399,536","253,883","201,852","164,798","98,812","38,285","9,472","1,463"
10,강원특별자치도,"1,527,807","1,527,807","38,546","52,326","63,338","65,715","79,297","84,313","81,185",...,"64,077","73,799","63,504","40,854","35,527","33,488","20,104","7,777","2,070",298
11,충청북도,"1,593,469","1,593,469","41,577","61,756","72,539","71,907","83,001","98,675","96,192",...,"66,525","69,038","58,464","38,100","30,182","29,579","19,019","7,244","1,533",216
12,충청남도,"2,130,119","2,130,119","57,113","86,658","102,213","99,844","107,155","118,503","123,652",...,"80,701","86,796","73,131","52,603","41,953","41,916","29,293","11,672","2,520",426
13,전라북도,"1,754,757","1,754,757","38,949","63,533","80,691","83,613","94,548","96,265","87,183",...,"71,500","76,995","65,759","50,498","42,456","41,490","26,708","10,795","2,411",413
14,전라남도,"1,804,217","1,804,217","43,693","64,033","79,600","79,333","86,939","91,213","84,309",...,"73,044","80,758","67,859","53,945","48,599","50,850","32,417","12,662","2,685",523
15,경상북도,"2,554,324","2,554,324","59,519","92,407","108,925","108,386","120,289","127,966","128,262",...,"109,360","120,612","102,226","78,213","57,644","60,861","38,453","14,653","3,237",511
16,경상남도,"3,251,158","3,251,158","78,630","133,369","160,575","155,372","156,023","166,688","171,154",...,"139,712","145,082","119,259","82,565","62,418","58,637","36,555","14,313","2,984",386
17,제주특별자치도,"675,252","675,252","19,786","31,617","36,510","33,959","35,170","38,867","39,081",...,"26,814","26,153","20,876","13,800","12,088","10,234","7,034","3,380",688,278

In [178]:
# 첫행 인덱스
df_sido_popul_1 = df_sido_popul.set_index("행정구역")

In [179]:
# 필요한 행만 iloc으로 인덱싱 후 추출
df_sido_popil_2 = df_sido_popul_1.iloc[:,1:23]

In [180]:
df_sido_popil_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국 to 제주특별자치도
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   2023년_계_연령구간인구수  18 non-null     object
 1   2023년_계_0~4세     18 non-null     object
 2   2023년_계_5~9세     18 non-null     object
 3   2023년_계_10~14세   18 non-null     object
 4   2023년_계_15~19세   18 non-null     object
 5   2023년_계_20~24세   18 non-null     object
 6   2023년_계_25~29세   18 non-null     object
 7   2023년_계_30~34세   18 non-null     object
 8   2023년_계_35~39세   18 non-null     object
 9   2023년_계_40~44세   18 non-null     object
 10  2023년_계_45~49세   18 non-null     object
 11  2023년_계_50~54세   18 non-null     object
 12  2023년_계_55~59세   18 non-null     object
 13  2023년_계_60~64세   18 non-null     object
 14  2023년_계_65~69세   18 non-null     object
 15  2023년_계_70~74세   18 non-null     object
 16  2023년_계_75~79세   18 non-null     object
 17  2023년_계_80~84세   18 non-null     object
 18  2023년_계_85~89세   18 non-null     object
 19  2023년_계_90~94세   18 non-null     object
 20  2023년_계_95~99세   18 non-null     object
 21  2023년_계_100세 이상  18 non-null     object
dtypes: object(22)
memory usage: 3.2+ KB

In [181]:
df_sido_popil_2.shape

(18, 22)

In [182]:
df_sido_popil_3 = df_sido_popil_2.T.copy()
columns_2 = df_sido_popil_3.columns
df_sido_popil_3.index

Index(['2023년_계_연령구간인구수', '2023년_계_0~4세', '2023년_계_5~9세', '2023년_계_10~14세',
       '2023년_계_15~19세', '2023년_계_20~24세', '2023년_계_25~29세', '2023년_계_30~34세',
       '2023년_계_35~39세', '2023년_계_40~44세', '2023년_계_45~49세', '2023년_계_50~54세',
       '2023년_계_55~59세', '2023년_계_60~64세', '2023년_계_65~69세', '2023년_계_70~74세',
       '2023년_계_75~79세', '2023년_계_80~84세', '2023년_계_85~89세', '2023년_계_90~94세',
       '2023년_계_95~99세', '2023년_계_100세 이상'],
      dtype='object')

In [183]:
df_sido_popil_3

행정구역,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2023년_계_연령구간인구수,"51,325,329","9,386,034","3,293,362","2,374,960","2,997,410","1,419,237","1,442,216","1,103,661","386,525","13,630,821","1,527,807","1,593,469","2,130,119","1,754,757","1,804,217","2,554,324","3,251,158","675,252"
2023년_계_0~4세,"1,334,588","213,014","75,360","57,587","82,753","38,916","39,731","30,143","17,223","402,048","38,546","41,577","57,113","38,949","43,693","59,519","78,630","19,786"
2023년_계_5~9세,"1,998,304","300,548","119,043","92,816","119,576","60,863","56,996","48,943","26,318","587,502","52,326","61,756","86,658","63,533","64,033","92,407","133,369","31,617"
2023년_계_10~14세,"2,330,969","355,014","133,929","106,303","137,503","73,025","67,343","56,172","27,898","669,391","63,338","72,539","102,213","80,691","79,600","108,925","160,575","36,510"
2023년_계_15~19세,"2,320,491","378,197","129,410","107,818","134,576","74,500","70,493","53,290","22,838","651,240","65,715","71,907","99,844","83,613","79,333","108,386","155,372","33,959"
2023년_계_20~24세,"2,794,440","555,058","173,103","133,913","160,257","90,809","91,081","55,113","17,657","755,027","79,297","83,001","107,155","94,548","86,939","120,289","156,023","35,170"
2023년_계_25~29세,"3,403,046","800,753","204,484","148,557","203,846","100,096","108,147","67,409","20,153","927,111","84,313","98,675","118,503","96,265","91,213","127,966","166,688","38,867"
2023년_계_30~34세,"3,399,252","777,975","203,253","146,165","215,195","89,946","99,622","69,325","27,376","959,377","81,185","96,192","123,652","87,183","84,309","128,262","171,154","39,081"
2023년_계_35~39세,"3,176,296","649,430","187,406","133,800","197,890","84,129","88,343","67,584","31,964","919,357","77,409","91,569","127,447","85,816","85,193","130,892","178,981","39,086"
2023년_계_40~44세,"4,049,259","737,027","251,223","178,313","249,834","114,258","110,187","92,047","41,770","1,165,573","102,533","115,912","165,628","117,858","118,427","178,092","255,087","55,490"
2023년_계_45~49세,"3,872,875","683,046","233,493","177,801","230,946","113,001","109,944","86,067","35,413","1,091,358","106,286","114,790","158,368","127,256","122,386","179,274","250,216","53,230"
2023년_계_50~54세,"4,503,660","793,687","275,617","214,573","264,643","126,979","128,531","101,891","31,378","1,234,364","131,013","136,262","179,697","152,571","151,901","219,007","298,844","62,702"
2023년_계_55~59세,"4,192,039","701,870","266,308","206,226","251,390","113,695","114,727","102,923","23,055","1,101,635","131,500","136,188","170,396","148,247","158,381","225,700","284,013","55,785"
2023년_계_60~64세,"4,219,699","706,835","295,534","204,750","251,944","105,142","112,315","97,045","20,922","1,044,120","147,791","140,864","178,911","155,099","167,935","245,119","292,560","52,813"
2023년_계_65~69세,"3,411,009","609,103","265,186","161,230","189,467","79,590","89,711","72,262","16,311","787,673","127,532","117,118","146,171","129,798","137,522","204,308","236,857","41,170"
2023년_계_70~74세,"2,265,989","417,048","186,754","115,122","113,644","55,796","57,611","44,196","9,916","481,771","77,731","73,657","101,359","95,537","103,680","149,037","157,263","25,867"
2023년_계_75~79세,"1,700,214","321,421","133,653","80,401","84,181","43,332","41,529","27,390","6,562","365,332","64,145","54,776","77,265","76,268","86,242","103,909","111,794","22,014"
2023년_계_80~84세,"1,331,277","228,831","96,815","64,327","61,416","31,943","31,708","19,039","5,160","274,613","54,515","47,659","67,555","65,548","78,836","95,612","91,038","16,662"
2023년_계_85~89세,"713,747","110,383","45,091","32,561","32,981","16,242","16,865","9,018","3,074","148,416","29,620","27,590","43,020","38,583","44,854","54,388","50,899","10,162"
2023년_계_90~94세,"246,429","36,809","14,126","10,471","12,064","5,616","5,855","3,068","1,222","51,409","10,117","9,289","15,566","14,010","15,935","18,784","17,867","4,221"
2023년_계_95~99세,"53,209","8,537","3,142","1,961","2,813","1,152","1,266",657,272,"11,652","2,505","1,892","3,104","2,910","3,213","3,883","3,485",765
2023년_계_100세 이상,"8,537","1,448",432,265,491,207,211,79,43,"1,852",390,256,494,474,592,565,443,295

In [184]:
df_sheets = df_sido_popil_3.columns
df_sheets

Index(['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'],
      dtype='object', name='행정구역')

In [185]:
# 문자열 숫자 , 제거후 int로 변환
for i in df_sheets:
    df_sido_popil_3[i] = df_sido_popil_3[i].str.replace(',','').astype(int)

In [186]:
df_sido_popil_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 2023년_계_연령구간인구수 to 2023년_계_100세 이상
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       22 non-null     int64
 1   서울특별시    22 non-null     int64
 2   부산광역시    22 non-null     int64
 3   대구광역시    22 non-null     int64
 4   인천광역시    22 non-null     int64
 5   광주광역시    22 non-null     int64
 6   대전광역시    22 non-null     int64
 7   울산광역시    22 non-null     int64
 8   세종특별자치시  22 non-null     int64
 9   경기도      22 non-null     int64
 10  강원특별자치도  22 non-null     int64
 11  충청북도     22 non-null     int64
 12  충청남도     22 non-null     int64
 13  전라북도     22 non-null     int64
 14  전라남도     22 non-null     int64
 15  경상북도     22 non-null     int64
 16  경상남도     22 non-null     int64
 17  제주특별자치도  22 non-null     int64
dtypes: int64(18)
memory usage: 3.8+ KB

In [187]:
# 새로 추가해줄 df 구성
df_sido_popil_4 = pd.DataFrame( [], index_1, columns_2)
df_sido_popil_4

행정구역,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10세 이하,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70대,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80세 이상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
df_sido_popil_4.index, len(df_sido_popil_3.index)

(Index(['계', '10세 이하', '10대', '20대', '30대', '40대', '50대', '60대', '70대',
        '80세 이상'],
       dtype='object'),
 22)

In [189]:
df_sido_popil_3.index[21]

'2023년_계_100세 이상'

In [190]:
# 위와 동일하게 나이대로 새로 더해서 데이터프레임 만들어줌
df_sido_popil_4.loc[df_sido_popil_4.index[0]] = df_sido_popil_3.loc[df_sido_popil_3.index[0]]
df_sido_popil_4.loc[df_sido_popil_4.index[1]] = df_sido_popil_3.loc[df_sido_popil_3.index[1]] + df_sido_popil_3.loc[df_sido_popil_3.index[2]]
df_sido_popil_4.loc[df_sido_popil_4.index[2]] = df_sido_popil_3.loc[df_sido_popil_3.index[3]] + df_sido_popil_3.loc[df_sido_popil_3.index[4]]
df_sido_popil_4.loc[df_sido_popil_4.index[3]] = df_sido_popil_3.loc[df_sido_popil_3.index[5]] + df_sido_popil_3.loc[df_sido_popil_3.index[6]]
df_sido_popil_4.loc[df_sido_popil_4.index[4]] = df_sido_popil_3.loc[df_sido_popil_3.index[7]] + df_sido_popil_3.loc[df_sido_popil_3.index[8]]
df_sido_popil_4.loc[df_sido_popil_4.index[5]] = df_sido_popil_3.loc[df_sido_popil_3.index[9]] + df_sido_popil_3.loc[df_sido_popil_3.index[10]]
df_sido_popil_4.loc[df_sido_popil_4.index[6]] = df_sido_popil_3.loc[df_sido_popil_3.index[11]] + df_sido_popil_3.loc[df_sido_popil_3.index[12]]
df_sido_popil_4.loc[df_sido_popil_4.index[7]] = df_sido_popil_3.loc[df_sido_popil_3.index[13]] + df_sido_popil_3.loc[df_sido_popil_3.index[14]]
df_sido_popil_4.loc[df_sido_popil_4.index[8]] = df_sido_popil_3.loc[df_sido_popil_3.index[15]] + df_sido_popil_3.loc[df_sido_popil_3.index[16]]
df_sido_popil_4.loc[df_sido_popil_4.index[9]] = df_sido_popil_3.loc[df_sido_popil_3.index[17]] + df_sido_popil_3.loc[df_sido_popil_3.index[18]] + df_sido_popil_3.loc[df_sido_popil_3.index[19]] + df_sido_popil_3.loc[df_sido_popil_3.index[20]] + df_sido_popil_3.loc[df_sido_popil_3.index[21]]

In [191]:
df_sido_popil_4.shape

(10, 18)

In [192]:
df_final_3.shape, df_sido_popil_4.shape

((10, 35), (10, 18))

In [193]:
# 둘이 합쳐봤으나 큰 의미가 없어서
finale = pd.merge( df_final_3, df_sido_popil_4, left_index=True, right_index=True, how='left' )

In [194]:
# 그냥 각각 파일로 덤프
df_final_3.T.to_csv('surgery_by_age.csv')
df_sido_popil_4.T.to_csv('korea_population_by_age.csv')

In [195]:
df_final_3.T.to_excel('surgery_by_age.xlsx')
df_sido_popil_4.T.to_excel('korea_population_by_age.xlsx')

In [196]:
# 데이터 만지기에 역을 취한 표가 편할거 같아서 그걸로 덤프 후 형태 확인
df_sido_popil_4.T

,계,10세 이하,10대,20대,30대,40대,50대,60대,70대,80세 이상
행정구역,,,,,,,,,,
전국,51325329,3332892,4651460,6197486,6575548,7922134,8695699,7630708,3966203,2353199
서울특별시,9386034,513562,733211,1355811,1427405,1420073,1495557,1315938,738469,386008
부산광역시,3293362,194403,263339,377587,390659,484716,541925,560720,320407,159606
대구광역시,2374960,150403,214121,282470,279965,356114,420799,365980,195523,109585
인천광역시,2997410,202329,272079,364103,413085,480780,516033,441411,197825,109765
광주광역시,1419237,99779,147525,190905,174075,227259,240674,184732,99128,55160
대전광역시,1442216,96727,137836,199228,187965,220131,243258,202026,99140,55905
울산광역시,1103661,79086,109462,122522,136909,178114,204814,169307,71586,31861
세종특별자치시,386525,43541,50736,37810,59340,77183,54433,37233,16478,9771
경기도,13630821,989550,1320631,1682138,1878734,2256931,2335999,1831793,847103,487942
강원특별자치도,1527807,90872,129053,163610,158594,208819,262513,275323,141876,97147
충청북도,1593469,103333,144446,181676,187761,230702,272450,257982,128433,86686
충청남도,2130119,143771,202057,225658,251099,323996,350093,325082,178624,129739
전라북도,1754757,102482,164304,190813,172999,245114,300818,284897,171805,121525
전라남도,1804217,107726,158933,178152,169502,240813,310282,305457,189922,143430
경상북도,2554324,151926,217311,248255,259154,357366,444707,449427,252946,173232
경상남도,3251158,211999,315947,322711,350135,505303,582857,529417,269057,163732
제주특별자치도,675252,51403,70469,74037,78167,108720,118487,93983,47881,32105

In [197]:
df_final_3.T.groupby

<bound method DataFrame.groupby of                                  계 10세 이하    10대    20대     30대     40대  \
계(Total)                   1672192  11657  18910  82505  203887  173994
백내장 수술                      475440    205    206    682    1880   14699
편도절제술(아데노이드 적출술 유무에 상관없이)    17789   2499   2428   5603    3582    1852
경피적 관상동맥확장술 및 절제술             9941      0      3     17     127     509
스텐트삽입술                       67751      0      3     43     624    3915
관상동맥 우회수술                     4894      6     23     37      69     267
심장 카테터 삽입술                    3524    468    222    258     237     293
정맥류 결찰 및 제거수술                18620      0     43    534    1327    2850
충수절제술                        72325   1727   8921  10425   11197   11394
심박조율장치의 삽입,교체,제거 및 교정        18773    127     58    161     290     644
담낭절제술                        90193     12    234   3662   10674   16481
내시경 및 경피적 담도수술               56531     20    137    756    1829    3447
서혜 및 대퇴 허니아 수술               33373   4271    451   1131    1290    2007
경요도 전립선 절제술                  12692      0      0      7      11      71
전립선 절제술                       1308      0      0      0       0       1
자궁절제술                        39228      0     14    101    1742   17110
제왕절개수술                      150820      0    128  21786  114534   14366
고관절 치환술                      31406      0     13    170     597    1627
슬관절 치환술                      75626      0     13      6      21      84
유방 부분 절제술                    41200      1    332   2223    4358   13003
유방 전 절제술                     22309      1    690   6164    4209    4094
뇌기저부 수술                        515      3      6     21      44      83
뇌종양 수술                        8072     97    168    351     629    1160
위 절제술(기타 질환에 의한 수술 포함)       16810      4      9     65     279    1422
일반 척추수술                     191500    141    903   2499    5301   13578
내시경하 부비동 수술                  33812     46   1157   3080    4315    5575
일반 부비동 수술                     2206      2     98    244     268     308
줄기세포이식술                       2614    113    134    174     188     340
간 부분 절제술(기타 질환에 의한 수술 포함)     7879     23     21     49     189     666
간색전술                         28471     92    161    513    1423    2250
갑상선 수술(기타 질환에 의한 수술포함)       35027     61    192   2081    5950    9162
심장 수술(관상동맥우회수술 제외)            9538   1371    170    223     316     628
순열 및 구개열 수술                    912    727    125     18      14       5
치핵 수술                       154304     42   1976  19902   28907   33310
내시경하 척추수술                    14296      0    140    878    1535    2724

                              50대     60대     70대  80세 이상
계(Total)                   261188  398054  343500  178497
백내장 수술                      82431  166464  150448   58425
편도절제술(아데노이드 적출술 유무에 상관없이)    1105     583     113      24
경피적 관상동맥확장술 및 절제술            1564    3135    2816    1770
스텐트삽입술                      12298   21672   18431   10765
관상동맥 우회수술                     830    1769    1427     466
심장 카테터 삽입술                    482     690     560     314
정맥류 결찰 및 제거수술                5050    5780    2615     421
충수절제술                       11592    9930    4679    2460
심박조율장치의 삽입,교체,제거 및 교정        1746    4033    5600    6114
담낭절제술                       18588   19311   13355    7876
내시경 및 경피적 담도수술               6798   12958   14886   15700
서혜 및 대퇴 허니아 수술               3903    8161    8063    4096
경요도 전립선 절제술                   773    4218    5096    2516
전립선 절제술                        63     446     724      74
자궁절제술                       11770    5098    2718     675
제왕절개수술                          5       1       0       0
고관절 치환술                      3362    5919    7281   12437
슬관절 치환술                      1983   24118   38108   11293
유방 부분 절제술                   11019    7124    2564     576
유방 전 절제술                     3282    2282    1149     438
뇌기저부 수술                       147     137      63      11
뇌종양 수술                       1790    2288    1273     316
위 절제술(기타 질환에 의한 수술 포함)       3208    5484    4352    1987
일반 척추수술                     26263   49945   50876   41994
내시경하 부비동 수술                  7708    7706    3340     885
일반 부비동 수술                     469     493     247      77
줄기세포이식술                       640     939      86       0
간 부분 절제술(기타 질환에 의한 수술 포함)    1699    2794    1939     499
간색전술                         4628    8374    7201    3829
갑상선 수술(기타 질환에 의한 수술포함)       8664    6442    2122     353
심장 수술(관상동맥우회수술 제외)           1320    2376    2296     838
순열 및 구개열 수술                    11       9       3       0
치핵 수술                       33429   24586    9719    2433
내시경하 척추수술                    3204    3328    1817     670  >